<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/webcrawler/src/webcrawler/simpleRecursiveCrawlerINT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="webcrawler.simpleRecursiveCrawlerINT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="http://jsoup.org/ 2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="webcrawler"/>
</launchConfiguration>
